In [1]:
import numpy as np
import pandas as pd

In [2]:
obj = pd.Series([4,7,-5,3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
sdata = {"gg" : 1000, "dd" : 81000, "ss" : 10029}

In [5]:
obj3 = pd.Series(sdata)

In [6]:
obj3

dd    81000
gg     1000
ss    10029
dtype: int64

In [7]:
obj3.index = ["a","b","c"]

In [8]:
obj3

a    81000
b     1000
c    10029
dtype: int64

In [9]:
data = {"names": ["Kilho", "Kilho", "Kilho", "Charles", "Charles"],
        "year": [2014, 2015, 2016, 2015, 2016],
        "points": [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)

In [10]:
df

     names  points  year
0    Kilho     1.5  2014
1    Kilho     1.7  2015
2    Kilho     3.6  2016
3  Charles     2.4  2015
4  Charles     2.9  2016

In [11]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
df.columns

Index(['names', 'points', 'year'], dtype='object')

In [13]:
df.values

array([['Kilho', 1.5, 2014],
       ['Kilho', 1.7, 2015],
       ['Kilho', 3.6, 2016],
       ['Charles', 2.4, 2015],
       ['Charles', 2.9, 2016]], dtype=object)

In [14]:
df.index.name = "Num"
df.columns.name = "Info"

In [16]:
df

Info    names  points  year
Num
0       Kilho     1.5  2014
1       Kilho     1.7  2015
2       Kilho     3.6  2016
3     Charles     2.4  2015
4     Charles     2.9  2016

In [17]:
df2

NameError: name 'df2' is not defined

In [21]:
df2 = pd.DataFrame(data, columns=["year","name","points","penalty"],index=["one","two","three","four","five"])

In [22]:
df2

       year name  points penalty
one    2014  NaN     1.5     NaN
two    2015  NaN     1.7     NaN
three  2016  NaN     3.6     NaN
four   2015  NaN     2.4     NaN
five   2016  NaN     2.9     NaN

In [23]:
df2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [24]:
df2.columns

Index(['year', 'name', 'points', 'penalty'], dtype='object')

In [25]:
df2.values

array([[2014, nan, 1.5, nan],
       [2015, nan, 1.7, nan],
       [2016, nan, 3.6, nan],
       [2015, nan, 2.4, nan],
       [2016, nan, 2.9, nan]], dtype=object)

In [26]:
df2.describe()

             year    points
count     5.00000  5.000000
mean   2015.20000  2.420000
std       0.83666  0.864292
min    2014.00000  1.500000
25%    2015.00000  1.700000
50%    2015.00000  2.400000
75%    2016.00000  2.900000
max    2016.00000  3.600000