In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

In [4]:
df

      data1     data2 key1 key2
0  0.979929  1.504897    a  one
1 -1.012840  0.115271    a  two
2 -1.443777  0.500523    b  one
3 -0.907358 -0.587780    b  two
4  0.003099  0.074922    a  one

In [6]:
grouped = df["data1"].groupby(df["key1"])
#데이터를 그룹으로 묶어서 연관시킨다

In [8]:
grouped
#지금은 그룹화만 해놔서 볼 수 없다

In [10]:
grouped.mean()
#key1을 기준으로 data1의 평균을 구한다

key1
a   -0.009937
b   -1.175568
Name: data1, dtype: float64

In [11]:
#split - apply - combine

In [12]:
means = df["data1"].groupby([df["key1"],df["key2"]]).mean()

In [13]:
means

key1  key2
a     one     0.491514
      two    -1.012840
b     one    -1.443777
      two    -0.907358
Name: data1, dtype: float64

In [14]:
means.unstack()

key2       one       two
key1
a     0.491514 -1.012840
b    -1.443777 -0.907358

In [16]:
df.groupby("key1").mean()
#key1을 기준으로 평균을 구한다

         data1     data2
key1
a    -0.009937  0.565030
b    -1.175568 -0.043629

In [17]:
df.groupby("key1").count()

      data1  data2  key2
key1
a         3      3     3
b         2      2     2

In [18]:
df.groupby(["key1","key2"]).mean()

              data1     data2
key1 key2
a    one   0.491514  0.789910
     two  -1.012840  0.115271
b    one  -1.443777  0.500523
     two  -0.907358 -0.587780

In [19]:
df.groupby(["key1","key2"]).count()

           data1  data2
key1 key2
a    one       2      2
     two       1      1
b    one       1      1
     two       1      1

In [21]:
df.groupby(["key1","key2"])["data2"].mean()
#data2에서만 값을 구할 수 있다

key1  key2
a     one     0.789910
      two     0.115271
b     one     0.500523
      two    -0.587780
Name: data2, dtype: float64

In [22]:
df.groupby("key1")

In [27]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)
#그룹화 내용 확인하는 방법

a
      data1     data2 key1 key2
0  0.979929  1.504897    a  one
1 -1.012840  0.115271    a  two
4  0.003099  0.074922    a  one
b
      data1     data2 key1 key2
2 -1.443777  0.500523    b  one
3 -0.907358 -0.587780    b  two

In [26]:
for (k1,k2), group in df.groupby(["key1","key2"]):
    print(k1,k2)
    print(group)

a one
      data1     data2 key1 key2
0  0.979929  1.504897    a  one
4  0.003099  0.074922    a  one
a two
     data1     data2 key1 key2
1 -1.01284  0.115271    a  two
b one
      data1     data2 key1 key2
2 -1.443777  0.500523    b  one
b two
      data1    data2 key1 key2
3 -0.907358 -0.58778    b  two

In [31]:
pieces = dict(list(df.groupby("key1")))
#그룹화 내용 확인하는 방법2

In [32]:
pieces

{'a':       data1     data2 key1 key2
 0  0.979929  1.504897    a  one
 1 -1.012840  0.115271    a  two
 4  0.003099  0.074922    a  one, 'b':       data1     data2 key1 key2
 2 -1.443777  0.500523    b  one
 3 -0.907358 -0.587780    b  two}

In [33]:
pieces["b"]

      data1     data2 key1 key2
2 -1.443777  0.500523    b  one
3 -0.907358 -0.587780    b  two

In [36]:
df2 = pd.DataFrame(np.random.randn(5, 5), 
                   columns=['a', 'b', 'c', 'd', 'e'],
                   index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [37]:
df2

               a         b         c         d         e
Joe     0.226189 -0.064695 -0.387992  1.471136  0.856983
Steve   0.471430  0.010435  0.275373  0.541705 -1.037082
Wes    -0.956508  0.424893 -0.513344  0.554112 -1.017567
Jim     1.570408 -1.263222 -0.793760 -0.535165  0.767762
Travis  1.837525 -0.082945 -0.134681 -0.602184  1.002982

In [38]:
map_dict = {'a': 'red', 'b': 'red', 'c': 'blue', 
            'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [39]:
df2.groupby(map_dict, axis=1).sum()
# 딕셔너리 혹은 Series 기준으로 그룹화하기

            blue       red
Joe     1.083144  1.018477
Steve   0.817078 -0.555217
Wes     0.040769 -1.549182
Jim    -1.328925  1.074948
Travis -0.736865  2.757563

In [40]:
map_s = pd.Series(map_dict)

In [41]:
df2.groupby(map_s,axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        2    3
Jim        2    3
Travis     2    3

In [42]:
df

      data1     data2 key1 key2
0  0.979929  1.504897    a  one
1 -1.012840  0.115271    a  two
2 -1.443777  0.500523    b  one
3 -0.907358 -0.587780    b  two
4  0.003099  0.074922    a  one

In [43]:
grouped = df.groupby("key1")

In [44]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [46]:
grouped.agg(peak_to_peak)
#사용자가 지정한 수식도 가능하다

         data1     data2
key1
a     1.992769  1.429974
b     0.536419  1.088304

In [47]:
grouped.agg("std")

         data1     data2
key1
a     0.996449  0.814198
b     0.379306  0.769547

In [48]:
grouped.describe()

               data1     data2
key1
a    count  3.000000  3.000000
     mean  -0.009937  0.565030
     std    0.996449  0.814198
     min   -1.012840  0.074922
     25%   -0.504870  0.095097
     50%    0.003099  0.115271
     75%    0.491514  0.810084
     max    0.979929  1.504897
b    count  2.000000  2.000000
     mean  -1.175568 -0.043629
     std    0.379306  0.769547
     min   -1.443777 -0.587780
     25%   -1.309672 -0.315705
     50%   -1.175568 -0.043629
     75%   -1.041463  0.228447
     max   -0.907358  0.500523