In [1]:
%matplotlib nbagg
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
names = pd.read_csv("data/us-baby-names/NationalNames.csv", sep=",",
                     header=0, names=["id", "name", "year", "sex", "births"])

In [3]:
names.head()

   id       name  year sex  births
0   1       Mary  1880   F    7065
1   2       Anna  1880   F    2604
2   3       Emma  1880   F    2003
3   4  Elizabeth  1880   F    1939
4   5     Minnie  1880   F    1746

In [4]:
names.shape

(1825433, 5)

In [10]:
total_births = names.pivot_table("births", index="year",columns="sex",aggfunc=sum)
#각 (연도, 성별) 그룹의 총 출생횟수 산출하기

In [6]:
total_births.tail()

sex         F        M
year
2010  1772738  1913851
2011  1753500  1893230
2012  1753922  1889414
2013  1745339  1881463
2014  1768775  1901376

In [8]:
ax = total_births.plot()

In [9]:
ax.set_title("Total births by sex and year")

In [26]:
grouped_names_dict = dict(list(names.groupby(["year", "sex"])))
#각 (연도, 성별) 그룹 내에서 각 이름의 출생횟수가 전체에서 차지하는 비중(%)을 나타내는 열 추가하기

In [29]:
grouped_names_dict

{(1880, 'F'):       id       name  year sex  births
 0      1       Mary  1880   F    7065
 1      2       Anna  1880   F    2604
 2      3       Emma  1880   F    2003
 3      4  Elizabeth  1880   F    1939
 4      5     Minnie  1880   F    1746
 5      6   Margaret  1880   F    1578
 6      7        Ida  1880   F    1472
 7      8      Alice  1880   F    1414
 8      9     Bertha  1880   F    1320
 9     10      Sarah  1880   F    1288
 10    11      Annie  1880   F    1258
 11    12      Clara  1880   F    1226
 12    13       Ella  1880   F    1156
 13    14   Florence  1880   F    1063
 14    15       Cora  1880   F    1045
 15    16     Martha  1880   F    1040
 16    17      Laura  1880   F    1012
 17    18     Nellie  1880   F     995
 18    19      Grace  1880   F     982
 19    20     Carrie  1880   F     949
 20    21      Maude  1880   F     858
 21    22      Mabel  1880   F     808
 22    23     Bessie  1880   F     796
 23    24     Jennie  1880   F     793
 24    25   Gertrude  1880   F     787
 25    26      Julia  1880   F     783
 26    27     Hattie  1880   F     769
 27    28      Edith  1880   F     768
 28    29     Mattie  1880   F     704
 29    30       Rose  1880   F     700
 ..   ...        ...   ...  ..     ...
 912  913      Ossie  1880   F       5
 913  914      Ottie  1880   F       5
 914  915    Ottilia  1880   F       5
 915  916  Parthenia  1880   F       5
 916  917   Penelope  1880   F       5
 917  918     Pinkey  1880   F       5
 918  919     Pollie  1880   F       5
 919  920     Rennie  1880   F       5
 920  921       Reta  1880   F       5
 921  922      Roena  1880   F       5
 922  923    Rosalee  1880   F       5
 923  924   Roseanna  1880   F       5
 924  925     Ruthie  1880   F       5
 925  926      Sabra  1880   F       5
 926  927     Sannie  1880   F       5
 927  928     Selena  1880   F       5
 928  929      Sibyl  1880   F       5
 929  930      Tella  1880   F       5
 930  931     Tempie  1880   F       5
 931  932  Tennessee  1880   F       5
 932  933    Teressa  1880   F       5
 933  934      Texas  1880   F       5
 934  935      Theda  1880   F       5
 935  936     Thelma  1880   F       5
 936  937     Thursa  1880   F       5
 937  938        Ula  1880   F       5
 938  939     Vannie  1880   F       5
 939  940     Verona  1880   F       5
 940  941     Vertie  1880   F       5
 941  942      Wilma  1880   F       5

 [942 rows x 5 columns], (1880, 'M'):         id       name  year sex  births
 942    943       John  1880   M    9655
 943    944    William  1880   M    9532
 944    945      James  1880   M    5927
 945    946    Charles  1880   M    5348
 946    947     George  1880   M    5126
 947    948      Frank  1880   M    3242
 948    949     Joseph  1880   M    2632
 949    950     Thomas  1880   M    2534
 950    951      Henry  1880   M    2444
 951    952     Robert  1880   M    2415
 952    953     Edward  1880   M    2364
 953    954      Harry  1880   M    2152
 954    955     Walter  1880   M    1755
 955    956     Arthur  1880   M    1599
 956    957       Fred  1880   M    1569
 957    958     Albert  1880   M    1493
 958    959     Samuel  1880   M    1024
 959    960      David  1880   M     869
 960    961      Louis  1880   M     828
 961    962        Joe  1880   M     731
 962    963    Charlie  1880   M     730
 963    964   Clarence  1880   M     730
 964    965    Richard  1880   M     728
 965    966     Andrew  1880   M     644
 966    967     Daniel  1880   M     643
 967    968     Ernest  1880   M     615
 968    969       Will  1880   M     588
 969    970      Jesse  1880   M     569
 970    971      Oscar  1880   M     544
 971    972      Lewis  1880   M     517
 ...    ...        ...   ...  ..     ...
 1970  1971      Philo  1880   M       5
 1971  1972    Phineas  1880   M       5
 1972  1973    Presley  1880   M       5
 1973  1974     Ransom  1880   M       5
 1974  1975      Reece  1880   M       5
 1975  1976       Rene  1880   M       5
 1976  1977    Roswell  1880   M       5
 1977  1978    Rowland  1880   M       5
 1978  1979    Sampson  1880   M       5
 1979  1980     Samual  1880   M       5
 1980  1981     Santos  1880   M       5
 1981  1982   Schuyler  1880   M       5
 1982  1983   Sheppard  1880   M       5
 1983  1984   Spurgeon  1880   M       5
 1984  1985   Starling  1880   M       5
 1985  1986   Sylvanus  1880   M       5
 1986  1987   Theadore  1880   M       5
 1987  1988  Theophile  1880   M       5
 1988  1989     Tilmon  1880   M       5
 1989  1990      Tommy  1880   M       5
 1990  1991    Unknown  1880   M       5
 1991  1992       Vann  1880   M       5
 1992  1993        Wes  1880   M       5
 1993  1994    Winston  1880   M       5
 1994  1995       Wood  1880   M       5
 1995  1996     Woodie  1880   M       5
 1996  1997     Worthy  1880   M       5
 1997  1998     Wright  1880   M       5
 1998  1999       York  1880   M       5
 1999  2000  Zachariah  1880   M       5

 [1058 rows x 5 columns], (1881, 'F'):         id       name  year sex  births
 2000  2001       Mary  1881   F    6919
 2001  2002       Anna  1881   F    2698
 2002  2003       Emma  1881   F    2034
 2003  2004  Elizabeth  1881   F    1852
 2004  2005   Margaret  1881   F    1658
 2005  2006     Minnie  1881   F    1653
 2006  2007        Ida  1881   F    1439
 2007  2008      Annie  1881   F    1326
 2008  2009     Bertha  1881   F    1324
 2009  2010      Alice  1881   F    1308
 2010  2011      Clara  1881   F    1242
 2011  2012      Sarah  1881   F    1226
 2012  2013       Ella  1881   F    1148
 2013  2014     Nellie  1881   F    1096
 2014  2015      Grace  1881   F    1089
 2015  2016   Florence  1881   F    1046
 2016  2017     Martha  1881   F    1044
 2017  2018       Cora  1881   F     969
 2018  2019      Laura  1881   F     962
 2019  2020     Carrie  1881   F     958
 2020  2021      Maude  1881   F     923
 2021  2022     Bessie  1881   F     903
 2022  2023      Mabel  1881   F     893
 2023  2024   Gertrude  1881   F     791
 2024  2025      Ethel  1881   F     788
 2025  2026     Jennie  1881   F     784
 2026  2027      Edith  1881   F     778
 2027  2028     Hattie  1881   F     775
 2028  2029     Mattie  1881   F     754
 2029  2030      Julia  1881   F     737
 ...    ...        ...   ...  ..     ...
 2908  2909       Mila  1881   F       5
 2909  2910      Minda  1881   F       5
 2910  2911     Nealie  1881   F       5
 2911  2912       Neta  1881   F       5
 2912  2913      Netta  1881   F       5
 2913  2914     Orlena  1881   F       5
 2914  2915      Ottie  1881   F       5
 2915  2916    Ottilia  1881   F       5
 2916  2917        Ova  1881   F       5
 2917  2918     Ozella  1881   F       5
 2918  2919    Phyllis  1881   F       5
 2919  2920     Pollie  1881   F       5
 2920  2921     Ressie  1881   F       5
 2921  2922     Rosena  1881   F       5
 2922  2923      Rosey  1881   F       5
 2923  2924     Sabina  1881   F       5
 2924  2925     Senora  1881   F       5
 2925  2926     Siddie  1881   F       5
 2926  2927     Susana  1881   F       5
 2927  2928    Susanne  1881   F       5
 2928  2929    Texanna  1881   F       5
 2929  2930      Texas  1881   F       5
 2930  2931       Thea  1881   F       5
 2931  2932   Theodora  1881   F       5
 2932  2933      Tiney  1881   F       5
 2933  2934      Tinie  1881   F       5
 2934  2935       Tiny  1881   F       5
 2935  2936     Vernon  1881   F       5
 2936  2937     Verona  1881   F       5
 2937  2938      Viney  1881   F       5

 [938 rows x 5 columns], (1881, 'M'):         id        name  year sex  births
 2938  2939        John  1881   M    8769
 2939  2940     William  1881   M    8524
 2940  2941       James  1881   M    5442
 2941  2942      George  1881   M    4664
 2942  2943     Charles  1881   M    4636
 2943  2944       Frank  1881   M    2834
 2944  2945      Joseph  1881   M    2456
 2945  2946       Henry  1881   M    2339
 2946  2947      Thomas  1881   M    2282
 2947  2948      Edward  1881   M    2177
 2948  2949      Robert  1881   M    2140
 2949  2950       Harry  1881   M    2002
 2950  2951      Walter  1881   M    1670
 2951  2952      Arthur  1881   M    1575
 2952  2953        Fred  1881   M    1418
 2953  2954      Albert  1881   M    1319
 2954  2955      Samuel  1881   M     919
 2955  2956       David  1881   M     750
 2956  2957       Louis  1881   M     746
 2957  2958     Charlie  1881   M     668
 2958  2959    Clarence  1881   M     668
 2959  2960     Richard  1881   M     641
 2960  2961         Joe  1881   M     639
 2961  2962      Andrew  1881   M     588
 2962  2963      Ernest  1881   M     571
 2963  2964        Will  1881   M     550
 2964  2965       Jesse  1881   M     536
 2965  2966       Oscar  1881   M     530
 2966  2967      Daniel  1881   M     527
 2967  2968      Willie  1881   M     498
 ...    ...         ...   ...  ..     ...
 3905  3906      Mercer  1881   M       5
 3906  3907       Monte  1881   M       5
 3907  3908  Montgomery  1881   M       5
 3908  3909       Nolan  1881   M       5
 3909  3910        Okey  1881   M       5
 3910  3911       Orley  1881   M       5
 3911  3912        Page  1881   M       5
 3912  3913       Philo  1881   M       5
 3913  3914      Primus  1881   M       5
 3914  3915     Prosper  1881   M       5
 3915  3916       Pryor  1881   M       5
 3916  3917        Rene  1881   M       5
 3917  3918       Robin  1881   M       5
 3918  3919        Roll  1881   M       5
 3919  3920     Rolland  1881   M       5
 3920  3921      Seward  1881   M       5
 3921  3922     Shannon  1881   M       5
 3922  3923     Talmage  1881   M       5
 3923  3924       Urban  1881   M       5
 3924  3925      Vaughn  1881   M       5
 3925  3926      Verner  1881   M       5
 3926  3927     Waverly  1881   M       5
 3927  3928     Webster  1881   M       5
 3928  3929      Weldon  1881   M       5
 3929  3930       Wells  1881   M       5
 3930  3931      Wiliam  1881   M       5
 3931  3932      Wilton  1881   M       5
 3932  3933        Wing  1881   M       5
 3933  3934        Wood  1881   M       5
 3934  3935      Wright  1881   M       5

 [997 rows x 5 columns], (1882, 'F'):         id       name  year sex  births
 3935  3936       Mary  1882   F    8148
 3936  3937       Anna  1882   F    3143
 3937  3938       Emma  1882   F    2303
 3938  3939  Elizabeth  1882   F    2187
 3939  3940     Minnie  1882   F    2004
 3940  3941   Margaret  1882   F    1821
 3941  3942        Ida  1882   F    1673
 3942  3943      Alice  1882   F    1542
 3943  3944     Bertha  1882   F    1508
 3944  3945      Annie  1882   F    1492
 3945  3946      Clara  1882   F    1490
 3946  3947      Sarah  1882   F    1410
 3947  3948   Florence  1882   F    1322
 3948  3949     Martha  1882   F    1229
 3949  3950       Ella  1882   F    1206
 3950  3951      Grace  1882   F    1195
 3951  3952      Laura  1882   F    1151
 3952  3953     Bessie  1882   F    1144
 3953  3954     Nellie  1882   F    1138
 3954  3955      Maude  1882   F    1089
 3955  3956       Cora  1882   F    1076
 3956  3957     Carrie  1882   F    1037
 3957  3958      Mabel  1882   F     997
 3958  3959      Ethel  1882   F     989
 3959  3960     Mattie  1882   F     966
 3960  3961   Gertrude  1882   F     939
 3961  3962     Jennie  1882   F     934
 3962  3963       Rose  1882   F     886
 3963  3964      Edith  1882   F     876
 3964  3965     Hattie  1882   F     859
 ...    ...        ...   ...  ..     ...
 4933  4934      Nelie  1882   F       5
 4934  4935      Olena  1882   F       5
 4935  4936       Olie  1882   F       5
 4936  4937     Otelia  1882   F       5
 4937  4938      Penny  1882   F       5
 4938  4939     Pheobe  1882   F       5
 4939  4940     Pollie  1882   F       5
 4940  4941     Portia  1882   F       5
 4941  4942      Rella  1882   F       5
 4942  4943     Rennie  1882   F       5
 4943  4944   Roseanna  1882   F       5
 4944  4945     Roxana  1882   F       5
 4945  4946     Sabina  1882   F       5
 4946  4947       Sada  1882   F       5
 4947  4948      Sadye  1882   F       5
 4948  4949     Sammie  1882   F       5
 4949  4950    Savilla  1882   F       5
 4950  4951     Selena  1882   F       5
 4951  4952    Shellie  1882   F       5
 4952  4953     Sibbie  1882   F       5
 4953  4954     Thekla  1882   F       5
 4954  4955      Tinie  1882   F       5
 4955  4956       Veda  1882   F       5
 4956  4957     Vienna  1882   F       5
 4957  4958      Vinia  1882   F       5
 4958  4959       Vira  1882   F       5
 4959  4960     Willia  1882   F       5
 4960  4961     Zaidee  1882   F       5
 4961  4962       Zana  1882   F       5
 4962  4963      Zilla  1882   F       5

 [1028 rows x 5 columns], (1882, 'M'):         id        name  year sex  births
 4963  4964        John  1882   M    9557
 4964  4965     William  1882   M    9298
 4965  4966       James  1882   M    5892
 4966  4967      George  1882   M    5193
 4967  4968     Charles  1882   M    5092
 4968  4969       Frank  1882   M    3176
 4969  4970      Joseph  1882   M    2670
 4970  4971      Thomas  1882   M    2610
 4971  4972       Henry  1882   M    2579
 4972  4973      Robert  1882   M    2500
 4973  4974      Edward  1882   M    2477
 4974  4975       Harry  1882   M    2232
 4975  4976      Walter  1882   M    1805
 4976  4977      Arthur  1882   M    1686
 4977  4978        Fred  1882   M    1641
 4978  4979      Albert  1882   M    1499
 4979  4980      Samuel  1882   M    1003
 4980  4981       Louis  1882   M     852
 4981  4982       David  1882   M     838
 4982  4983    Clarence  1882   M     837
 4983  4984     Charlie  1882   M     753
 4984  4985     Richard  1882   M     746
 4985  4986         Joe  1882   M     739
 4986  4987      Andrew  1882   M     673
 4987  4988        Will  1882   M     666
 4988  4989       Jesse  1882   M     660
 4989  4990      Ernest  1882   M     642
 4990  4991       Oscar  1882   M     625
 4991  4992      Daniel  1882   M     594
 4992  4993         Sam  1882   M     555
 ...    ...         ...   ...  ..     ...
 6032  6033      Russel  1882   M       5
 6033  6034      Sameul  1882   M       5
 6034  6035       Samul  1882   M       5
 6035  6036    Schuyler  1882   M       5
 6036  6037      Seldon  1882   M       5
 6037  6038     Soloman  1882   M       5
 6038  6039       Solon  1882   M       5
 6039  6040    Stafford  1882   M       5
 6040  6041     Stanton  1882   M       5
 6041  6042      Sumner  1882   M       5
 6042  6043  Theophilus  1882   M       5
 6043  6044    Thompson  1882   M       5
 6044  6045      Tilden  1882   M       5
 6045  6046        Toby  1882   M       5
 6046  6047        True  1882   M       5
 6047  6048       Urban  1882   M       5
 6048  6049       Uriah  1882   M       5
 6049  6050         Val  1882   M       5
 6050  6051       Vance  1882   M       5
 6051  6052       Verne  1882   M       5
 6052  6053       Vince  1882   M       5
 6053  6054      Vivian  1882   M       5
 6054  6055        Whit  1882   M       5
 6055  6056     Willaim  1882   M       5
 6056  6057    Winifred  1882   M       5
 6057  6058        Wirt  1882   M       5
 6058  6059     Woodson  1882   M       5
 6059  6060       Woody  1882   M       5
 6060  6061      Worley  1882   M       5
 6061  6062         Zed  1882   M       5

 [1099 rows x 5 columns], (1883, 'F'):         id        name  year sex  births
 6062  6063        Mary  1883   F    8012
 6063  6064        Anna  1883   F    3306
 6064  6065        Emma  1883   F    2367
 6065  6066   Elizabeth  1883   F    2255
 6066  6067      Minnie  1883   F    2035
 6067  6068    Margaret  1883   F    1881
 6068  6069      Bertha  1883   F    1681
 6069  6070         Ida  1883   F    1634
 6070  6071       Annie  1883   F    1589
 6071  6072       Clara  1883   F    1548
 6072  6073       Alice  1883   F    1488
 6073  6074       Sarah  1883   F    1359
 6074  6075       Grace  1883   F    1307
 6075  6076    Florence  1883   F    1298
 6076  6077      Martha  1883   F    1255
 6077  6078        Ella  1883   F    1251
 6078  6079      Nellie  1883   F    1246
 6079  6080      Bessie  1883   F    1241
 6080  6081       Laura  1883   F    1183
 6081  6082       Ethel  1883   F    1132
 6082  6083      Carrie  1883   F    1108
 6083  6084       Maude  1883   F    1096
 6084  6085       Mabel  1883   F    1086
 6085  6086        Cora  1883   F    1081
 6086  6087    Gertrude  1883   F     923
 6087  6088     Lillian  1883   F     907
 6088  6089      Jennie  1883   F     904
 6089  6090      Hattie  1883   F     895
 6090  6091       Pearl  1883   F     886
 6091  6092      Mattie  1883   F     883
 ...    ...         ...   ...  ..     ...
 7086  7087       Pinky  1883   F       5
 7087  7088    Pricilla  1883   F       5
 7088  7089     Refugia  1883   F       5
 7089  7090      Rennie  1883   F       5
 7090  7091      Ressie  1883   F       5
 7091  7092        Reva  1883   F       5
 7092  7093        Roma  1883   F       5
 7093  7094     Roxanna  1883   F       5
 7094  7095     Rozella  1883   F       5
 7095  7096      Sarrah  1883   F       5
 7096  7097     Sedonia  1883   F       5
 7097  7098       Senie  1883   F       5
 7098  7099       Spicy  1883   F       5
 7099  7100       Sybil  1883   F       5
 7100  7101     Tabitha  1883   F       5
 7101  7102     Therese  1883   F       5
 7102  7103      Tinnie  1883   F       5
 7103  7104      Tishie  1883   F       5
 7104  7105      Vergie  1883   F       5
 7105  7106        Veva  1883   F       5
 7106  7107   Victorine  1883   F       5
 7107  7108        Vira  1883   F       5
 7108  7109      Walter  1883   F       5
 7109  7110       Wanda  1883   F       5
 7110  7111  Wilhelmine  1883   F       5
 7111  7112        Will  1883   F       5
 7112  7113       Zelia  1883   F       5
 7113  7114     Zenobia  1883   F       5
 7114  7115      Zillah  1883   F       5
 7115  7116         Zoa  1883   F       5

 [1054 rows x 5 columns], (1883, 'M'):         id        name  year sex  births
 7116  7117        John  1883   M    8894
 7117  7118     William  1883   M    8387
 7118  7119       James  1883   M    5224
 7119  7120     Charles  1883   M    4826
 7120  7121      George  1883   M    4736
 7121  7122       Frank  1883   M    2986
 7122  7123      Joseph  1883   M    2515
 7123  7124       Henry  1883   M    2383
 7124  7125      Robert  1883   M    2334
 7125  7126      Thomas  1883   M    2316
 7126  7127      Edward  1883   M    2250
 7127  7128       Harry  1883   M    2110
 7128  7129      Walter  1883   M    1705
 7129  7130      Arthur  1883   M    1591
 7130  7131        Fred  1883   M    1502
 7131  7132      Albert  1883   M    1496
 7132  7133      Samuel  1883   M     937
 7133  7134    Clarence  1883   M     837
 7134  7135       Louis  1883   M     796
 7135  7136       David  1883   M     735
 7136  7137     Richard  1883   M     649
 7137  7138     Charlie  1883   M     643
 7138  7139      Ernest  1883   M     641
 7139  7140      Andrew  1883   M     623
 7140  7141      Daniel  1883   M     615
 7141  7142         Joe  1883   M     607
 7142  7143       Oscar  1883   M     607
 7143  7144       Jesse  1883   M     584
 7144  7145        Will  1883   M     576
 7145  7146         Roy  1883   M     556
 ...    ...         ...   ...  ..     ...
 8116  8117     Mitchel  1883   M       5
 8117  8118       Moody  1883   M       5
 8118  8119    Nickolas  1883   M       5
 8119  8120        Noel  1883   M       5
 8120  8121     Norwood  1883   M       5
 8121  8122        Oley  1883   M       5
 8122  8123        Oral  1883   M       5
 8123  8124        Orel  1883   M       5
 8124  8125        Orra  1883   M       5
 8125  8126    Percival  1883   M       5
 8126  8127        Perl  1883   M       5
 8127  8128      Pierce  1883   M       5

In [30]:
grouped_sample = grouped_names_dict[(2011, 'M')]

In [31]:
grouped_sample.shape

(14329, 5)

In [13]:
grouped_sample.head(10)

              id       name  year sex  births
1711173  1711174      Jacob  2011   M   20331
1711174  1711175      Mason  2011   M   19488
1711175  1711176    William  2011   M   17314
1711176  1711177     Jayden  2011   M   16954
1711177  1711178       Noah  2011   M   16838
1711178  1711179    Michael  2011   M   16744
1711179  1711180      Ethan  2011   M   16665
1711180  1711181  Alexander  2011   M   15681
1711181  1711182      Aiden  2011   M   15469
1711182  1711183     Daniel  2011   M   15249

In [14]:
def add_prop(agg_df):
    agg_births = agg_df["births"]
    agg_df["prop"] = agg_births / agg_births.sum()
    return agg_df

In [15]:
names_with_prop = names.groupby(["year", "sex"]).apply(add_prop)

In [16]:
names_with_prop.head()

   id       name  year sex  births      prop
0   1       Mary  1880   F    7065  0.077643
1   2       Anna  1880   F    2604  0.028618
2   3       Emma  1880   F    2003  0.022013
3   4  Elizabeth  1880   F    1939  0.021309
4   5     Minnie  1880   F    1746  0.019188

In [17]:
grouped_names_with_prop_dict = dict(list(names_with_prop.groupby(["year", "sex"])))

#각 (연도, 성별) 그룹 내 출생횟수 기준 TOP 1000 이름 추출하기

In [18]:
grouped_sample = grouped_names_with_prop_dict[(2011, 'M')]

In [19]:
grouped_sample.head(10)

              id       name  year sex  births      prop
1711173  1711174      Jacob  2011   M   20331  0.010739
1711174  1711175      Mason  2011   M   19488  0.010294
1711175  1711176    William  2011   M   17314  0.009145
1711176  1711177     Jayden  2011   M   16954  0.008955
1711177  1711178       Noah  2011   M   16838  0.008894
1711178  1711179    Michael  2011   M   16744  0.008844
1711179  1711180      Ethan  2011   M   16665  0.008802
1711180  1711181  Alexander  2011   M   15681  0.008283
1711181  1711182      Aiden  2011   M   15469  0.008171
1711182  1711183     Daniel  2011   M   15249  0.008054

In [20]:
grouped_sample.sort_values(by="births", ascending=False).iloc[:10]

              id       name  year sex  births      prop
1711173  1711174      Jacob  2011   M   20331  0.010739
1711174  1711175      Mason  2011   M   19488  0.010294
1711175  1711176    William  2011   M   17314  0.009145
1711176  1711177     Jayden  2011   M   16954  0.008955
1711177  1711178       Noah  2011   M   16838  0.008894
1711178  1711179    Michael  2011   M   16744  0.008844
1711179  1711180      Ethan  2011   M   16665  0.008802
1711180  1711181  Alexander  2011   M   15681  0.008283
1711181  1711182      Aiden  2011   M   15469  0.008171
1711182  1711183     Daniel  2011   M   15249  0.008054

In [32]:
def get_top1000(agg_df):
    top1000_df = agg_df.sort_values(by="births", ascending=False).iloc[:1000]
    return top1000_df

In [35]:
get_top1000

In [22]:
top1000_names = names_with_prop.groupby(["year", "sex"]).apply(get_top1000)

In [23]:
top1000_names.head()

            id       name  year sex  births      prop
year sex
1880 F   0   1       Mary  1880   F    7065  0.077643
         1   2       Anna  1880   F    2604  0.028618
         2   3       Emma  1880   F    2003  0.022013
         3   4  Elizabeth  1880   F    1939  0.021309
         4   5     Minnie  1880   F    1746  0.019188

In [24]:
names_with_prop.loc[(names_with_prop["year"] == 2011) & \
                    (names_with_prop["sex"] == "M")].shape

(14329, 6)

In [36]:
top1000_names.loc[(2011, "M")].shape

(1000, 6)

In [37]:
top1000_names.head()

            id       name  year sex  births      prop
year sex
1880 F   0   1       Mary  1880   F    7065  0.077643
         1   2       Anna  1880   F    2604  0.028618
         2   3       Emma  1880   F    2003  0.022013
         3   4  Elizabeth  1880   F    1939  0.021309
         4   5     Minnie  1880   F    1746  0.019188

In [39]:
top1000_props = top1000_names.pivot_table("prop", index="year", \
                                          columns="sex", aggfunc=sum)
#각 연도에 따른 전체 출생횟수 대비 TOP 1000 이름들의 출생횟수 비중 산출하기

In [40]:
top1000_props.head()

sex          F         M
year
1880  1.000000  0.997375
1881  1.000000  1.000000
1882  0.998702  0.995646
1883  0.997596  0.998566
1884  0.993156  0.994539

In [41]:
ax = top1000_props.plot()

In [43]:
ax.set_xticks(range(1880, 2020, 10))
ax.set_yticks(np.arange(0, 1.3, 0.1))

[<matplotlib.axis.YTick at 0x1acedb38>,
 <matplotlib.axis.YTick at 0x1acedef0>,
 <matplotlib.axis.YTick at 0x1b6c75c0>,
 <matplotlib.axis.YTick at 0x1b6d9390>,
 <matplotlib.axis.YTick at 0x1b6d9fd0>,
 <matplotlib.axis.YTick at 0x1b6bb9e8>,
 <matplotlib.axis.YTick at 0x13eb3240>,
 <matplotlib.axis.YTick at 0x1b6cb358>,
 <matplotlib.axis.YTick at 0x1b6dc908>,
 <matplotlib.axis.YTick at 0x1b56b518>,
 <matplotlib.axis.YTick at 0x1b591080>,
 <matplotlib.axis.YTick at 0x1b591908>,
 <matplotlib.axis.YTick at 0x1b59f320>]

In [44]:
top1000_names.head()

            id       name  year sex  births      prop
year sex
1880 F   0   1       Mary  1880   F    7065  0.077643
         1   2       Anna  1880   F    2604  0.028618
         2   3       Emma  1880   F    2003  0.022013
         3   4  Elizabeth  1880   F    1939  0.021309
         4   5     Minnie  1880   F    1746  0.019188

In [45]:
top_names_births = top1000_names.pivot_table("births", index="year", columns="name", aggfunc=sum)
#특정 이름들의 연도에 따른 출생횟수 변화 추이 분석하기

In [46]:
top_names_births.head()

name,Aaden,Aaliyah,Aanya,Aarav,Aaron,Aarush,Ab,Abagail,Abb,Abbey,...,Zoa,Zoe,Zoey,Zoie,Zola,Zollie,Zona,Zora,Zula,Zuri
year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,NaN,102.0,NaN,NaN,NaN,NaN,NaN,...,8.0,23.0,NaN,NaN,7.0,NaN,8.0,28.0,27.0,NaN
1881,NaN,NaN,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,...,NaN,22.0,NaN,NaN,10.0,NaN,9.0,21.0,27.0,NaN
1882,NaN,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,...,8.0,25.0,NaN,NaN,9.0,NaN,17.0,32.0,21.0,NaN
1883,NaN,NaN,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,...,NaN,23.0,NaN,NaN,10.0,NaN,11.0,35.0,25.0,NaN
1884,NaN,NaN,NaN,NaN,97.0,NaN,NaN,NaN,NaN,NaN,...,13.0,31.0,NaN,NaN,14.0,6.0,8.0,58.0,27.0,NaN

In [47]:
top_names_births_subset = top_names_births[["John", "Harry", "Mary", "Marilyn"]]

In [48]:
top_names_births_subset.head()

name    John   Harry    Mary  Marilyn
year
1880  9701.0  2158.0  7092.0      NaN
1881  8795.0  2002.0  6948.0      NaN
1882  9597.0  2246.0  8178.0      NaN
1883  8934.0  2116.0  8044.0      NaN
1884  9428.0  2338.0  9253.0      NaN

In [49]:
ax = top_names_births_subset.plot(subplots=True, fontsize=8)
#subplots를 사용하면 각 그래프가 그려진다

In [50]:
get_last_letter = lambda x: x[-1]
#이름의 마지막 글자가 무엇인지 알아보는 코딩
#남아 이름의 마지막 글자가 연도에 따라 어떻게 변화하였는지 분석하기

In [52]:
names["last_letters"] = names["name"].apply(get_last_letter)

In [53]:
names.head()

   id       name  year sex  births last_letters
0   1       Mary  1880   F    7065            y
1   2       Anna  1880   F    2604            a
2   3       Emma  1880   F    2003            a
3   4  Elizabeth  1880   F    1939            h
4   5     Minnie  1880   F    1746            e

In [54]:
last_letters_table = names.pivot_table("births", index="last_letters",columns=["sex", "year"], aggfunc=sum)

In [55]:
last_letters_table.head()

sex                 F                                                        \
year             1880     1881     1882     1883     1884     1885     1886
last_letters
a             31446.0  31581.0  36536.0  38330.0  43680.0  45408.0  49100.0
b                 NaN      NaN      NaN      NaN      NaN      NaN      NaN
c                 NaN      NaN      5.0      5.0      NaN      NaN      NaN
d               609.0    607.0    734.0    810.0    916.0    862.0   1007.0
e             33380.0  34080.0  40399.0  41913.0  48089.0  49616.0  53884.0

sex                                        ...            M            \
year             1887     1888     1889    ...         2005      2006
last_letters                               ...
a             48942.0  59441.0  58632.0    ...      36877.0   36210.0
b                 NaN      NaN      NaN    ...      43178.0   42645.0
c                 NaN      NaN      NaN    ...      26102.0   26661.0
d              1027.0   1298.0   1374.0    ...      50730.0   51474.0
e             54353.0  66750.0  66661.0    ...     141237.0  143126.0

sex                                                                       \
year              2007      2008      2009      2010      2011      2012
last_letters
a              34723.0   32988.0   31573.0   28814.0   27384.0   27136.0
b              42190.0   40047.0   39038.0   39208.0   36605.0   34626.0
c              26893.0   25365.0   24127.0   23307.0   23085.0   24209.0
d              50686.0   48018.0   46310.0   44758.0   43158.0   42376.0
e             143915.0  141234.0  135857.0  130073.0  128572.0  128174.0

sex
year              2013      2014
last_letters
a              27299.0   27931.0
b              33089.0   31085.0
c              23970.0   23617.0
d              42533.0   43641.0
e             131725.0  131036.0

[5 rows x 270 columns]

In [57]:
three_years_subtable = last_letters_table.reindex(columns=[1910, 1960, 2010], level="year")

In [58]:
three_years_subtable.head()

sex                  F                            M
year              1910      1960      2010     1910      1960      2010
last_letters
a             108397.0  691245.0  675901.0    977.0    5214.0   28814.0
b                  NaN     694.0     454.0    411.0    3912.0   39208.0
c                  5.0      49.0     953.0    482.0   15466.0   23307.0
d               6751.0    3728.0    2635.0  22113.0  262143.0   44758.0
e             133601.0  435048.0  316288.0  28665.0  178810.0  130073.0

In [59]:
three_years_letters_prop = three_years_subtable / three_years_subtable.sum()

In [61]:
three_years_letters_prop.head()

sex                  F                             M
year              1910      1960      2010      1910      1960      2010
last_letters
a             0.273384  0.341846  0.381275  0.005030  0.002445  0.015056
b                  NaN  0.000343  0.000256  0.002116  0.001834  0.020486
c             0.000013  0.000024  0.000538  0.002482  0.007252  0.012178
d             0.017026  0.001844  0.001486  0.113857  0.122915  0.023386
e             0.336950  0.215147  0.178418  0.147592  0.083841  0.067964

In [62]:
fig, axes = plt.subplots(2, 1)

In [63]:
three_years_letters_prop["M"].plot(kind="bar", ax=axes[0], title="Male")

In [64]:
three_years_letters_prop["F"].plot(kind="bar", ax=axes[1], title="Female", legend=False)

In [65]:
plt.tight_layout()
#그래프 보기 좋게 해줌

In [66]:
letters_prop = last_letters_table / last_letters_table.sum()

In [67]:
letters_prop.head()

sex                  F                                                    \
year              1880      1881      1882      1883      1884      1885
last_letters
a             0.345587  0.343443  0.338767  0.341254  0.338547  0.341272
b                  NaN       NaN       NaN       NaN       NaN       NaN
c                  NaN       NaN  0.000046  0.000045       NaN       NaN
d             0.006693  0.006601  0.006806  0.007211  0.007100  0.006479
e             0.366841  0.370620  0.374585  0.373154  0.372719  0.372898

sex                                                     ...            M  \
year              1886      1887      1888      1889    ...         2005
last_letters                                            ...
a             0.339710  0.335261  0.332766  0.328717    ...     0.018486
b                  NaN       NaN       NaN       NaN    ...     0.021645
c                  NaN       NaN       NaN       NaN    ...     0.013085
d             0.006967  0.007035  0.007267  0.007703    ...     0.025431
e             0.372809  0.372327  0.373684  0.373732    ...     0.070801

sex                                                                       \
year              2006      2007      2008      2009      2010      2011
last_letters
a             0.017643  0.016757  0.016200  0.015952  0.015056  0.014464
b             0.020778  0.020361  0.019667  0.019723  0.020486  0.019335
c             0.012990  0.012978  0.012456  0.012190  0.012178  0.012193
d             0.025080  0.024461  0.023581  0.023397  0.023386  0.022796
e             0.069737  0.069452  0.069359  0.068639  0.067964  0.067911

sex
year              2012      2013      2014
last_letters
a             0.014362  0.014509  0.014690
b             0.018326  0.017587  0.016349
c             0.012813  0.012740  0.012421
d             0.022428  0.022606  0.022952
e             0.067838  0.070012  0.068916

[5 rows x 270 columns]

In [68]:
dny_prop = letters_prop.loc[["d", "n", "y"], "M"]

In [69]:
dny_prop

year,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
last_letters,,,,,,,,,,,,,,,,,,,,,
d,0.083057,0.083240,0.085339,0.084059,0.086120,0.085473,0.087648,0.089071,0.087710,0.091921,...,0.025431,0.025080,0.024461,0.023581,0.023397,0.023386,0.022796,0.022428,0.022606,0.022952
n,0.153216,0.153209,0.149558,0.151650,0.149924,0.146354,0.149661,0.148845,0.151291,0.151984,...,0.344296,0.351653,0.358228,0.361046,0.362462,0.362458,0.364154,0.360269,0.354485,0.351338
y,0.075762,0.077453,0.077537,0.079146,0.080405,0.081883,0.081681,0.082868,0.084921,0.086333,...,0.062807,0.060342,0.059643,0.060346,0.057242,0.058183,0.058074,0.057568,0.056305,0.055010

In [70]:
dny_prop.transpose().plot()