In [1]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("data/lending-club-loan-data/loan.csv", sep=",")
#pandas 데이터 불러오기

c:\users\user\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(887379, 74)

In [5]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [40]:
df2 = df[["loan_amnt", "loan_status", 
          "grade", "int_rate", "term"]]
#필요한 열 발췌 및 결측값 제거하기

In [9]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [10]:
df2["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)

In [13]:
df2["grade"].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [14]:
df2["term"].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [15]:
df2.shape

(887379, 5)

In [41]:
df2 = df2.dropna(how="any")
#데이터 값에 nan 값 제거

In [19]:
df2.shape

(887379, 5)

term_to_loan = {}
uniq_terms = df2["term"].unique()

In [45]:
term_to_loan_amnt_dict = {}
uniq_terms = df2["term"].unique()
# term 칼럼의 중복 제거
for term in uniq_terms:
    loan_amnt_sum = df2.loc[df2["term"] == term, "loan_amnt"].sum()
    term_to_loan_amnt_dict[term] = loan_amnt_sum

#'36개월 대출'과 '60개월 대출'의 대출 총액 파악

In [48]:
term_to_loan_amnt_dict

{' 36 months': 7752507375.0, ' 60 months': 5341004575.0}

In [49]:
term_to_loan_amnt = pd.Series(term_to_loan_amnt_dict)
#담겨있는 정보를 보기 좋게 Series해준다

In [23]:
term_to_loan_amnt

 36 months    7.752507e+09
 60 months    5.341005e+09
dtype: float64

In [24]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [26]:
total_status_category = df2["loan_status"].unique()
bad_status_category = total_status_category[[1,3,4,5,6,8]]
#각 대출 상태(불량/우량)에 따른 대출 등급 분포 파악

In [50]:
bad_status_category

array(['Charged Off', 'Default', 'Late (31-120 days)', 'In Grace Period',
       'Late (16-30 days)',
       'Does not meet the credit policy. Status:Charged Off'], dtype=object)

In [52]:
df2["bad_loan_status"] = df2["loan_status"].isin(bad_status_category)
# loan_status에 값과 bad_status_category의 값이 같으면 df2에 bad_loan_status칼럼을 만들어 데이터 넣는다

In [29]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term bad_loan_status
0     5000.0   Fully Paid     B     10.65   36 months           False
1     2500.0  Charged Off     C     15.27   60 months            True
2     2400.0   Fully Paid     C     15.96   36 months           False
3    10000.0   Fully Paid     C     13.49   36 months           False
4     3000.0      Current     B     12.69   60 months           False

In [30]:
 df2.loc[df2["bad_loan_status"] == True, "grade"].value_counts()
#

C    19054
D    15859
B    13456
E     9745
F     4383
A     3663
G     1269
Name: grade, dtype: int64

In [55]:
bad_loan_status_to_grades = df2.loc[df2["bad_loan_status"] == True, "grade"].value_counts()

In [57]:
bad_loan_status_to_grades1 = df2.loc[df2["bad_loan_status"] == True, "grade"]

In [58]:
bad_loan_status_to_grades1

1         C
8         F
9         B
12        C
14        B
21        B
24        B
26        C
27        D
46        A
50        B
53        C
55        E
64        B
66        D
68        F
71        D
97        D
100       B
105       D
114       D
120       C
121       B
124       E
131       C
137       A
145       B
151       B
153       C
155       C
         ..
887105    C
887108    D
887125    B
887126    B
887151    B
887152    C
887168    E
887176    C
887177    G
887186    D
887188    D
887192    B
887193    E
887231    D
887248    C
887254    C
887258    E
887268    C
887275    C
887276    E
887280    D
887290    F
887303    D
887308    D
887322    F
887330    D
887337    C
887345    D
887351    D
887371    E
Name: grade, dtype: object

In [54]:
bad_loan_status_to_grades

C    19054
D    15859
B    13456
E     9745
F     4383
A     3663
G     1269
Name: grade, dtype: int64

In [33]:
bad_loan_status_to_grades.sort_index()

A     3663
B    13456
C    19054
D    15859
E     9745
F     4383
G     1269
Name: grade, dtype: int64

In [34]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term bad_loan_status
0     5000.0   Fully Paid     B     10.65   36 months           False
1     2500.0  Charged Off     C     15.27   60 months            True
2     2400.0   Fully Paid     C     15.96   36 months           False
3    10000.0   Fully Paid     C     13.49   36 months           False
4     3000.0      Current     B     12.69   60 months           False

In [36]:
df2["loan_amnt"].corr(df2["int_rate"])
#대출 총액과 대출 이자율 간의 상관관계 파악 (상관계수)

0.1450230992988395

In [38]:
bad_loan_status_to_grades.to_csv("bad_loan_status.csv",sep=",")